Data Type:
1:Numbers

In [ ]:
print(type(12))
print(type(4.05))  
c = 7 + 4j
print(c + 7)
print(type(c))
a =12
print(isinstance(a, complex))

<class 'int'>
<class 'float'>
(14+4j)
<class 'complex'>
False

Binary,Octal and Hexadecimal numbers

In [ ]:
x = 0b1010     # binary = 0b or 0B
y = 0o13  # octal =  0o or 0O
z = 0xAB + 0b0101   # Hex = 0x or 0X
print(type(x))
print(x)
print(type(y))
print(y)
print(type(z))
print(z)

<class 'int'>
10
<class 'int'>
11
<class 'int'>
176

2: String

In [ ]:
str = 'abcdefghijklm'
print(type(str))
print(str)
print(str[0])
print(str[1:])
print(str[2:7])
print(str[:7])
print(str[-1])
print(str[5:-1])

# print Sentence

str = '''So Hello Everybody ,
            and welcome to world of Celebal Tech.
                                      -xyz'''
print(str)

<class 'str'>
abcdefghijklm
a
bcdefghijklm
cdefg
abcdefg
m
fghijkl
So Hello Everybody ,
            and welcome to world of Celebal Tech.
                                      -xyz

**Data Structure:**

1: List

In [ ]:
#Empty list
L1 = [] 
print(L1)
L2 = ['Tushar', 51, 8.0] 
print("list with mix data type:",L2)
#nested list
L3 = ["Roakade", ["Name",34,"language"], [45.6]] 
print(L3)

[]
list with mix data type: ['Tushar', 51, 8.0]
['Roakade', ['Name', 34, 'language'], [45.6]]

In [ ]:
list = ['S','a','n','j','i','v','a','n','i']
print(list)
print(list[2])
print(list[8])
print(list[2:5])#slicing
print(list[3:])
print(list[:7])
print(list[2:-1])   #Negative indexing
print(list[:-1])
print(list[-3])

L2 =['Ramesh',[1,2,3,4,5,6,7,7]]
print(L2[0][3])
print(L2[1][6])

L2[1][4]= 12 # changing list
print(L2)

['S', 'a', 'n', 'j', 'i', 'v', 'a', 'n', 'i']
n
i
['n', 'j', 'i']
['j', 'i', 'v', 'a', 'n', 'i']
['S', 'a', 'n', 'j', 'i', 'v', 'a']
['n', 'j', 'i', 'v', 'a', 'n']
['S', 'a', 'n', 'j', 'i', 'v', 'a', 'n']
a
e
7
['Ramesh', [1, 2, 3, 4, 12, 6, 7, 7]]

2: Tuple

In [ ]:
# Empty tuple
T = () 
print(T)
T = (1, 2, 3) 
print(T)
T1 = (1, "TUSHAR", 9.4) 
print(T1)
# nested tuple
T2 = ("Roakde", [5,5, 6], (1, 2, 3)) 
print(T2[2])
print(T2[0])
print(T2[1][1])
print(T2[0][1])
print(T2[-1])
print(T2[-2][-1])
T2[1][0] = [7,8,0]  #  change list in tuple
print(T2)

()
(1, 2, 3)
(1, 'TUSHAR', 9.4)
(1, 2, 3)
Roakde
5
o
(1, 2, 3)
6
('Roakde', [[7, 8, 0], 5, 6], (1, 2, 3))

3: Set

In [ ]:
#Empty set
S =set()
print(S)

S = {1, 2, 3,3,3,3,3,3,2,2,2,2,1,1,1,1,1}
print(S)

S1 = {1.0, "Hello", (1, 2, 3)}
print(S1)

# make set from a list using set()
S2 = set([1, 2, 3, 2]) 
print(S2)
print(type(S2))

# S3 = {1, 2, [3, 4]}
# print(S3)

S4 = {1, 3}
print(S4)
# add  element
S4.add(2)
print(S4)
#update
S4.update([6,2,4]) #ascending order
print(S4)

S4.update([4, 5, 6], {1, 6, 8}) 
print(S4)

fset = frozenset(S4)
print(fset)

set()
{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}
{1, 2, 3}
<class 'set'>
{1, 3}
{1, 2, 3}
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 5, 6, 8}
frozenset({1, 2, 3, 4, 5, 6, 8})

4 : Dictionary

In [ ]:
# Empty Dictionary
dict1 = {}
print(dict1)
dict1  = {'Name': 'Tushar Roakde' , 'roll no': 51 } 
print(dict1)

dict2 = {'Name': 'Tushar', 1: [2, 4, 3]} 
print(dict2)

dict3 = dict({1:'apple', 2:'ball'}) # using dict()
print(dict3)

dict4 = dict([(1,'apple'), (2,'ball')]) 
print(dict4)


# get 
print(dict1.get('Name'))



dict = {'name': 'ram', 'age': 26}
print(dict)
# update value
dict['age'] = 27
print(dict)

# add item
dict['address'] = 'shirdi'
print(dict)

{}
{'Name': 'Tushar Roakde', 'roll no': 51}
{'Name': 'Tushar', 1: [2, 4, 3]}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}
Tushar Roakde
{'name': 'ram', 'age': 26}
{'name': 'ram', 'age': 27}
{'name': 'ram', 'age': 27, 'address': 'shirdi'}

Function

In [ ]:
 #function with parameters
def greet(name):
    print( f"""
    my name is {name}
    I am basically from Rahuri Ahmednagar
    but currently stay in Kopargaon
    """)
    print("Hello, " + name + ". Good morning!")
greet('Tushar Rokade')    


#function without parameters
def hello(): 
  name = input("Enter your name: ")  
  if name:
    print ("Hello " + name)
  else:
    print("Hello World") 


hello()


#  lambda  function
double = lambda x: x*2

double(5)


# sum() lambda function
sum1 = lambda x, y: x + y;
print(sum1(4,5))

   my name is Tushar Rokade
   I am basically from Rahuri Ahmednagar
   but currently stay in Kopargaon

Hello, Tushar Rokade. Good morning!
Enter your name: Tushar
Hello Tushar
9